* {
    margin: 0;
    padding: 0;
}
.red {
    color: #ff0000;
}
.common-paragraph {
    color: rgba(0, 0, 0, 0.6);
    margin: 1rem 0;
    line-height: 1.5rem;
}
body {
    font-family: "Inter", sans-serif;
}

#header {
    width: 80%;
    height: 80vh;
    margin: 2rem auto;
    text-align: center;
    color: #ffffff;
    background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 50, 0.8),
            rgba(0, 0, 50, 0.1)
        ),
        url("images/Banner\ Image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 10px;
}

#main {
    width: 80%;
    margin: 2rem auto;
}
#main #discount {
    margin: 3rem 0;
    text-align: center;
}
#main #discount h2 {
    font-size: 4rem;
}
#main #discount p {
    margin: 0.8rem 0;
}
#main #discount h3 {
    font-size: 2rem;
}
#main #discount img {
    margin: 0.8rem 0;
    max-width: 50%;
}

#main #midnight-party {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;

    background-image: linear-gradient(
            to right,
            rgba(0, 0, 50, 0.9),
            rgba(0, 0, 50, 0.1)
        ),
        url("images/Vectorrr.png");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 3rem;
    color: #ffffff;
}
#main #midnight-party h1 {
    font-size: 5rem;
    letter-spacing: 0.2rem;
}
#main #midnight-party p {
    color: rgba(255, 255, 255, 0.8);
    margin: 1rem 0;
    line-height: 1.5rem;
}
#main #midnight-party button {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
    border-radius: 6px;
}
#main #midnight-party > img {
    width: 50%;
}

#main #place-time {
    margin: 4rem 0;
    text-align: center;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 30, 30, 0.2),
        rgba(255, 255, 255)
    );
    height: 8rem;
    padding: 8rem;
    border-radius: 10px;
}
#main #place-time p {
    font-size: 1.8rem;
    font-weight: 600;
}
#main #place-time #join-place-time {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #ff0000;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 6px;

    margin-top: 2rem;
}

#main #coming-soon {
    margin: 6rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}
#main #coming-soon div {
    width: calc(50% - 2rem);
}
#main #coming-soon #bordered-image {
    border: 0.6rem solid red;
    border-radius: 50%;
    padding: 1rem;
    width: 80%;
}
#main #coming-soon h3 {
    font-size: 2rem;
}
#main #coming-soon p {
    color: rgba(0, 0, 0, 0.7);
    text-align: justify;
    margin: 0.4rem 0;
    line-height: 1.4rem;
}

#main #holiday-sale {
    text-align: center;
}
#main #holiday-sale h1 {
    font-size: 4rem;
}
#main #holiday-sale #image-container {
    position: relative;
    top: -10rem;
}
#main #holiday-sale .gift-box {
    width: 40%;
    position: relative;
    bottom: -15rem;
    left: -100px;
}
#main #holiday-sale .discount-50 {
    position: relative;
    right: -8rem;
    width: 20%;
}
#main #holiday-sale .red-rectangle {
    border-radius: 8px;
    width: 100%;
}

#main #best-gifts-portfolio h1 {
    font-size: 3rem;
}
#main #best-gifts-portfolio p {
    width: 70%;
}
#main #best-gifts-portfolio #gift-image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 1rem 0;
}
#main #best-gifts-portfolio #gift-image-container img {
    width: 100%;
}

#main #subscribe-newsletter {
    text-align: center;
    padding: 5rem;
    background-color: rgba(255, 0, 0, 0.1);
    margin: 5rem 0;
}
#main #subscribe-newsletter > div {
    width: 60%;
    margin: 0 auto;
}
#main #subscribe-newsletter h1 {
    font-size: 2rem;
}
#main #subscribe-newsletter #input-container {
    display: flex;
}
#main #subscribe-newsletter #input-email {
    padding: 0.8rem 1.5rem;
    width: 80%;
    border: 1px solid transparent;
    border-radius: 10px 0 0 10px;
}
#main #subscribe-newsletter .input-btn {
    padding: 0.8rem 1.5rem;
    width: 20%;
    background-color: #ff0000;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}
/* To change border color on focus first remove the outline and add the border style in different properties, not in short 'border' property. */
#main #subscribe-newsletter #input-container #input-email:focus {
    outline: none;
    border-color: rgba(255, 0, 0, 0.3);
}

#footer {
    background-color: #070211;
    color: #ffffff;
}
#footer p {
    margin: 0.4rem 0;
}
#footer > div {
    padding: 4rem 0;
    width: 80%;
    margin: 0 auto;
}
#footer #address-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
#footer #address-contact div > div {
    display: flex;
    gap: 0.4rem;
    align-items: center;
}
#footer #socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 1rem 0;
    margin: 2rem 0;
}
#footer #socials img {
    width: 3rem;
    height: 3rem;
}
#footer #right-unsubscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer #right-unsubscribe button {
    padding: 0.8rem 1.5rem;
    background-color: transparent;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
