* {
    margin: 0;
    padding: 0;
}
.red {
    color: #ff0000;
}
body {
    font-family: "Inter", sans-serif;
}

#header {
    width: 80%;
    height: 80vh;
    margin: 2rem auto;
    text-align: center;
    color: #ffffff;
    background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 50, 0.8),
            rgba(0, 0, 50, 0.1)
        ),
        url("images/Banner\ Image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 10px;
}

#main {
    width: 80%;
    margin: 2rem auto;
}
#main #discount {
    margin: 3rem 0;
    text-align: center;
}
#main #discount h2 {
    font-size: 4rem;
}
#main #discount p {
    margin: 0.8rem 0;
}
#main #discount h3 {
    font-size: 2rem;
}
#main #discount img {
    margin: 0.8rem 0;
    max-width: 50%;
}

#main #midnight-party {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;

    background-image: linear-gradient(
            to right,
            rgba(0, 0, 50, 0.9),
            rgba(0, 0, 50, 0.1)
        ),
        url("images/Vectorrr.png");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 3rem;
    color: #ffffff;
}
#main #midnight-party h1 {
    font-size: 5rem;
    letter-spacing: 0.2rem;
}
#main #midnight-party p {
    color: rgba(255, 255, 255, 0.8);
    margin: 1rem 0;
    line-height: 1.5rem;
}
#main #midnight-party button {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
    border-radius: 6px;
}
#main #midnight-party > img {
    width: 50%;
}

#main #place-time {
    margin: 4rem 0;
    text-align: center;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 30, 30, 0.2),
        rgba(255, 255, 255)
    );
    height: 8rem;
    padding: 8rem;
    border-radius: 10px;
}
#main #place-time p {
    font-size: 1.8rem;
    font-weight: 600;
}
#main #place-time #join-place-time {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #ff0000;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 6px;

    margin-top: 2rem;
}

#main #coming-soon{
    margin: 6rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}
#main #coming-soon div{
    width: calc(50% - 2rem);
}
#main #coming-soon #bordered-image{
    border: .6rem solid red;
    border-radius: 50%;
    padding: 1rem;
    width: 80%;
}
#main #coming-soon h3{
    font-size: 2rem;
}
#main #coming-soon p{
    color: rgba(0,0,0,0.7);
    text-align: justify;
    margin: .4rem 0;
    line-height: 1.4rem;
}